<!---------------Button previous---------------->
<div class="previous">
    <a onclick="history.back()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
         <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </a>
  </div>
  <!----------------------------------------------->
<div class="add">
<form >
    <!----Title------>
    <label for="fname" class="input2"><b>Title:</b></label><br>
    <input type="text" class="input" id="fname" name="fname" placeholder="Nike airforce"><br>

      <!----Price------>
    <label for="Price" class="input2"><b>Price:</b></label><br>
    <input type="text"  class="input" id="Price" name="Price" placeholder="R10.00"><br>

     <!----Category------>
     <label for="Category" class="input2"><b>Category:</b></label><br>
     <input type="text" class="input" id="Category" name="Category" placeholder="Category"><br>

      <!----Description------>
    <label for="Description" class="input2"><b>Description:</b></label><br>
    <input type="text" class="input" id="Description" name="Description" placeholder="about item"><br>

     <!----Condition------>
     <label for="Condition" class="input2"><b>Condition:</b></label><br>
     <input type="text" class="input" id="Condition" name="Condition" placeholder="The shoes are in perfect Condition"><br>
      
   <!----<input type="submit" value="Submit">-->
    <div class="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>
    </div>
  </form>
</div>